body {
	background-color: #000;
	color: #f0f8ff;
}

.main,
.loader-view {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: 100%;
	width: 100%;
}

.main {
	display: none;
}

.button {
	border: none;
	font-size: 16px;
	font-weight: 600;
	padding: 10px 15px;
	border-radius: 8px;
}

.upload-button {
	color: #f0f8ff;
	background: #ff7b00;
}

.link-button {
	color: #1f1f1f;
	background: #fdf8f4;
}

.upload-button:hover {
	background: #f0f8ff;
	color: #ff7b00;
}

.link-button:hover {
	color: #ff7b00;
}

.image-view {
	margin-top: 50px;
	width: 50vw;
	height: 60vh;
	display: none;
	flex-direction: column;
}

.image {
	max-width: 100%;
	max-height: 100%;
	border: solid #f0f8ff 6px;
	border-radius: 4px;
	margin-bottom: 5px;
}

.result {
	text-transform: capitalize;
	letter-spacing: 0.5px;
}
